set default="0"
set timeout_style=hidden
set timeout=0

menuentry "TornLinux Live" {
    linux /live/vmlinuz boot=live components quiet splash persistence username=tornuser
    initrd /live/initrd.img
}

menuentry "TornLinux Live (No Persistence)" {
    linux /live/vmlinuz boot=live components quiet splash username=tornuser
    initrd /live/initrd.img
}

menuentry "Install TornLinux" {
    linux /live/vmlinuz boot=live components quiet splash username=tornuser tornlinux_installer=1
    initrd /live/initrd.img
}
