prompt 0
timeout 0
default live

label live
  menu label TornLinux
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash persistence username=tornuser loglevel=0 systemd.show_status=auto rd.udev.log_level=0 vt.global_cursor_default=0
