prompt 0
timeout 0
default live

label live
  menu label TornLinux Live
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash persistence username=tornuser loglevel=0 systemd.show_status=auto rd.udev.log_level=0 vt.global_cursor_default=0

label nopersistence
  menu label TornLinux Live (No Persistence)
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash username=tornuser loglevel=0 systemd.show_status=auto rd.udev.log_level=0 vt.global_cursor_default=0

label install
  menu label Install TornLinux
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash username=tornuser tornlinux_installer=1 loglevel=0 systemd.show_status=auto rd.udev.log_level=0 vt.global_cursor_default=0
