prompt 0
timeout 1
default live

label live
  menu label TornLinux Live
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash persistence username=tornuser

label nopersistence
  menu label TornLinux Live (No Persistence)
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash username=tornuser

label install
  menu label Install TornLinux
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash username=tornuser tornlinux_installer=1
